<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>SEOLocalizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='resources/logo1-SEOlocalizer-sinfondo.png') }}" type="image/x-icon">

</head>
<body>
    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='resources/logo1-SEOlocalizer-sinfondo.png') }}" alt="Logo" class="logo">
        </header>

        <main>
            <h1 class="title">SEOLocalizer</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <ul class="flash-messages">
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
            {% endwith %}

            <form method="post" action="/buscar">
                <div class="help-container">
                    <label for="negocio">Introduce el nombre y la ciudad del negocio a analizar</label>
                    <span class="help-icon" data-help="Si se trata de una franquicia puedes probar con el barrio en lugar de la ciudad.">?</span>
                    <div class="help-dropdown"></div>
                </div>
                <input type="text" id="negocio" name="negocio" placeholder="Nombre del negocio, ciudad" tooltip="Ej: Frutería Paco, Córdoba" required>

                <div class="help-container">
                    <label for="keyword">Introduce la categoría del negocio</label>
                    <span class="help-icon" data-help="Con una única palabra o frase (sin comas) es suficiente. Trata de introducir la categoría más precisa posible.">?</span>
                    <div class="help-dropdown"></div>
                </div>
                <div class="keyword-row">
                    <input type="text" id="keyword" name="keyword" placeholder="Palabra o frase clave" tooltip="Ej: Frutería o Tienda de cerámicas" required>
                    <button type="submit">Buscar</button>
                </div>
            </form>
        </main>
    </div>
</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>